altair
av
dashscope
graphviz
matplotlib
numpy
opencv_python
opencv_python_headless
pandas
Pillow
plotly
pydeck
pyecharts
Requests
streamlit
streamlit_antd_components
streamlit_echarts
streamlit_webrtc
torch
ultralytics
opencv-python-headless
