altair==5.3.0
av==11.0.0
dashscope==1.17.1
graphviz==0.20.3
matplotlib==3.8.4
numpy==1.26.4
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pandas==2.2.2
Pillow==10.3.0
plotly==5.21.0
pydeck==0.8.1b0
pyecharts==2.0.2
Requests==2.31.0
streamlit==1.33.0
streamlit_antd_components==0.3.2
streamlit_echarts==0.4.0
streamlit_webrtc==0.47.6
ultralytics==8.1.47

